# Токен Telegram-бота. Не публикуйте и не добавляйте его в репозиторий.
TELEGRAM_BOT_TOKEN=
# ID чата для критических оповещений.
TELEGRAM_CRITICAL_CHAT_ID=
# ID чата для предупреждений.
TELEGRAM_WARNING_CHAT_ID=
